<!doctype html>
<html>
	<head>
	<title>{{if .Title}}{{ .Title }} (Guldencoin docs){{else}}Guldencoin docs{{end}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
		{{ template "chrome/includes.html" . }}
	</head>
	<body>

		<div id="nlg-top">
			<div class="nlg-logo"><a href="https://guldencoin.com">Docs</a></div>
			<div class="nlg-menu">
				<a href="https://docs.guldencoin.com">Docs</a>
				<a href="https://seeds.guldencoin.com">Seeds</a>
			</div>
		</div>
		<div style="clear:both;"></div>

		{{ template "chrome/menu.html" . }}

		<div class="container" id="main">
