<!DOCTYPE html>
<html>
	<head>
	<title>{{if .Title}}{{ .Title }} (Guldencoin docs){{else}}Guldencoin docs{{end}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
		{{ template "chrome/includes.html" . }}
	</head>
	<body>

		<div class="nlg-top">
			<div class="nlg-top-logo">Docs</div>
			<div class="nlg-top-menu">
				<a href="https://docs.guldencoin.com">Docs</a>
				<a href="https://seeds.guldencoin.com">Seeds</a>
				<a href="http://guldenchain.mycryptoco.in/chain/Guldencoin">Chain</a>
				<a href="http://guldencoinforum.com">Forum</a>
				<a href="http://chat.guldencoin.com">Chat</a>
			</div>
			<div class="nlg-top-more">
				<a href="https://services.guldencoin.com" >Menu</a>
			</div>
		</div>

		<div style="clear:both;"></div>

		{{ template "chrome/menu.html" . }}

		<div class="container" id="main">
