	<link rel='stylesheet' type='text/css' href="/static/css/bootstrap.min.css" />
	<link rel='stylesheet' type='text/css' href="/static/css/icomoon.css" />
	<link rel='stylesheet' type='text/css' href="/static/css/styles.css" />
	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Arbutus+Slab&family=Cabin:600&family=Source+Code+Pro' />
	<script type="text/javascript" src="//use.typekit.net/ari7osy.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
